websocket-server/node_modules
websocket-server/package-lock.json
websocket-server/transpiled

serverless-backend/node_modules
serverless-backend/package-lock.json
serverless-backend/transpiled
serverless-backend/.webpack

frontend/dist
frontend/node_modules
frontend/package-lock.json
